langchain_openai
langchain_core
langchain_community
python_dotenv
streamlit
langserve
fastapi
uvicorn
langchain-community
sse_starlette
langchain-openai
langchain-ollama
bs4
pypdf
chromadb
faiss-cpu  
groq
cassio
beautifulsoup4
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
PyPDF2
langchain-objectbox
unstructured